# Firebase Configuration
FIREBASE_API_KEY=AIzaSyDkSh6HCKWq1lGctsP-iOwI5DzDGuYpGis
FIREBASE_AUTH_DOMAIN=agenda-revisiones.firebaseapp.com
FIREBASE_PROJECT_ID=agenda-revisiones
FIREBASE_STORAGE_BUCKET=agenda-revisiones.firebasestorage.app
FIREBASE_MESSAGING_SENDER_ID=18108519053
FIREBASE_APP_ID=1:18108519053:web:ff495023c42deda5e948c4

# Server
PORT=3000
